html {
  box-sizing: border-box;
  font-size: 100%; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-size: 1rem; }

.container, .extend {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.8rem;
  padding-right: 0.8rem; }

.row {
  margin-left: -0.8rem;
  margin-right: -0.8rem; }

[class*="col-"] {
  padding-left: 0.8rem;
  padding-right: 0.8rem; }

@media (min-width: 55em) {
  .container, .extend {
    width: 50em; } }
@media (min-width: 68em) {
  .container, .extend {
    width: 63em; } }
@media (min-width: 80em) {
  .container, .extend {
    width: 75em; } }
@media (max-width: 20em) {
  .col-xs-offset-12 {
    margin-left: 100%; }

  .col-xs-offset-11 {
    margin-left: 91.66667%; }

  .col-xs-offset-10 {
    margin-left: 83.33333%; }

  .col-xs-offset-9 {
    margin-left: 75%; }

  .col-xs-offset-8 {
    margin-left: 66.66667%; }

  .col-xs-offset-7 {
    margin-left: 58.33333%; }

  .col-xs-offset-6 {
    margin-left: 50%; }

  .col-xs-offset-5 {
    margin-left: 41.66667%; }

  .col-xs-offset-4 {
    margin-left: 33.33333%; }

  .col-xs-offset-3 {
    margin-left: 25%; }

  .col-xs-offset-2 {
    margin-left: 16.66667%; }

  .col-xs-offset-1 {
    margin-left: 8.33333%; } }
@media (min-width: 34em) and (max-width: 55em) {
  .col-sm-offset-12 {
    margin-left: 100%; }

  .col-sm-offset-11 {
    margin-left: 91.66667%; }

  .col-sm-offset-10 {
    margin-left: 83.33333%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-8 {
    margin-left: 66.66667%; }

  .col-sm-offset-7 {
    margin-left: 58.33333%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-5 {
    margin-left: 41.66667%; }

  .col-sm-offset-4 {
    margin-left: 33.33333%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-2 {
    margin-left: 16.66667%; }

  .col-sm-offset-1 {
    margin-left: 8.33333%; } }
@media (min-width: 55em) and (max-width: 68em) {
  .col-md-offset-12 {
    margin-left: 100%; }

  .col-md-offset-11 {
    margin-left: 91.66667%; }

  .col-md-offset-10 {
    margin-left: 83.33333%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-8 {
    margin-left: 66.66667%; }

  .col-md-offset-7 {
    margin-left: 58.33333%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-5 {
    margin-left: 41.66667%; }

  .col-md-offset-4 {
    margin-left: 33.33333%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-2 {
    margin-left: 16.66667%; }

  .col-md-offset-1 {
    margin-left: 8.33333%; } }
@media (min-width: 68em) {
  .col-lg-offset-12 {
    margin-left: 100%; }

  .col-lg-offset-11 {
    margin-left: 91.66667%; }

  .col-lg-offset-10 {
    margin-left: 83.33333%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-8 {
    margin-left: 66.66667%; }

  .col-lg-offset-7 {
    margin-left: 58.33333%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-5 {
    margin-left: 41.66667%; }

  .col-lg-offset-4 {
    margin-left: 33.33333%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-2 {
    margin-left: 16.66667%; }

  .col-lg-offset-1 {
    margin-left: 8.33333%; } }
.row {
  display: flex;
  flex-wrap: wrap; }

.col-xs-12 {
  flex: 0 0 100%;
  max-width: 100%; }

.col-xs-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%; }

.col-xs-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%; }

.col-xs-9 {
  flex: 0 0 75%;
  max-width: 75%; }

.col-xs-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%; }

.col-xs-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%; }

.col-xs-6 {
  flex: 0 0 50%;
  max-width: 50%; }

.col-xs-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%; }

.col-xs-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.col-xs-3 {
  flex: 0 0 25%;
  max-width: 25%; }

.col-xs-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

.col-xs-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

@media (min-width: 34em) {
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%; }

  .col-sm-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }

  .col-sm-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }

  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  .col-sm-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }

  .col-sm-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }

  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  .col-sm-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }

  .col-sm-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }

  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  .col-sm-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }

  .col-sm-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; } }
@media (min-width: 55em) {
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%; }

  .col-md-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }

  .col-md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }

  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  .col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }

  .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  .col-md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }

  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }

  .col-md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; } }
@media (min-width: 68em) {
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%; }

  .col-lg-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }

  .col-lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }

  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  .col-lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }

  .col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }

  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  .col-lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }

  .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }

  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }

  .col-lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; } }
.no-flexbox .row:before,
.no-flexbox .row:after {
  content: " ";
  display: table; }
.no-flexbox .row:after {
  clear: both; }
.no-flexbox .row {
  *zoom: 1; }
.no-flexbox .col-xs-1, .no-flexbox .col-xs2, .no-flexbox .col-xs-3, .no-flexbox .col-xs-4, .no-flexbox .col-xs-5, .no-flexbox .col-xs-6, .no-flexbox .col-xs-7, .no-flexbox .col-xs-8, .no-flexbox .col-xs-9, .no-flexbox .col-xs-10, .no-flexbox .col-xs-11, .no-flexbox .col-xs-12, .no-flexbox .col-sm-1, .no-flexbox .col-sm-2, .no-flexbox .col-sm-3, .no-flexbox .col-sm-4, .no-flexbox .col-sm-5, .no-flexbox .col-sm-6, .no-flexbox .col-sm-7, .no-flexbox .col-sm-8, .no-flexbox .col-sm-9, .no-flexbox .col-sm-10, .no-flexbox .col-sm-11, .no-flexbox .col-sm-12, .no-flexbox .col-md-1, .no-flexbox .col-md-2, .no-flexbox .col-md-3, .no-flexbox .col-md-4, .no-flexbox .col-md-5, .no-flexbox .col-md-6, .no-flexbox .col-md-7, .no-flexbox .col-md-8, .no-flexbox .col-md-9, .no-flexbox .col-md-10, .no-flexbox .col-md-11, .no-flexbox .col-md-12, .no-flexbox .col-lg-1, .no-flexbox .col-lg-2, .no-flexbox .col-lg-3, .no-flexbox .col-lg-4, .no-flexbox .col-lg-5, .no-flexbox .col-lg-6, .no-flexbox .col-lg-7, .no-flexbox .col-lg-8, .no-flexbox .col-lg-9, .no-flexbox .col-lg-10, .no-flexbox .col-lg-11, .no-flexbox .col-lg-12 {
  float: left;
  /* for the empty columns to not collapse */
  min-height: 1px;
  padding: 0 0.8rem; }
.no-flexbox .col-xs-12 {
  width: 100%; }
.no-flexbox .col-xs-11 {
  width: 91.66667%; }
.no-flexbox .col-xs-10 {
  width: 83.33333%; }
.no-flexbox .col-xs-9 {
  width: 75%; }
.no-flexbox .col-xs-8 {
  width: 66.66667%; }
.no-flexbox .col-xs-7 {
  width: 58.33333%; }
.no-flexbox .col-xs-6 {
  width: 50%; }
.no-flexbox .col-xs-5 {
  width: 41.66667%; }
.no-flexbox .col-xs-4 {
  width: 33.33333%; }
.no-flexbox .col-xs-3 {
  width: 25%; }
.no-flexbox .col-xs-2 {
  width: 16.66667%; }
.no-flexbox .col-xs-1 {
  width: 8.33333%; }
@media (min-width: 34em) {
  .no-flexbox .col-sm-12 {
    width: 100%; }
  .no-flexbox .col-sm-11 {
    width: 91.66667%; }
  .no-flexbox .col-sm-10 {
    width: 83.33333%; }
  .no-flexbox .col-sm-9 {
    width: 75%; }
  .no-flexbox .col-sm-8 {
    width: 66.66667%; }
  .no-flexbox .col-sm-7 {
    width: 58.33333%; }
  .no-flexbox .col-sm-6 {
    width: 50%; }
  .no-flexbox .col-sm-5 {
    width: 41.66667%; }
  .no-flexbox .col-sm-4 {
    width: 33.33333%; }
  .no-flexbox .col-sm-3 {
    width: 25%; }
  .no-flexbox .col-sm-2 {
    width: 16.66667%; }
  .no-flexbox .col-sm-1 {
    width: 8.33333%; } }
@media (min-width: 55em) {
  .no-flexbox .col-md-12 {
    width: 100%; }
  .no-flexbox .col-md-11 {
    width: 91.66667%; }
  .no-flexbox .col-md-10 {
    width: 83.33333%; }
  .no-flexbox .col-md-9 {
    width: 75%; }
  .no-flexbox .col-md-8 {
    width: 66.66667%; }
  .no-flexbox .col-md-7 {
    width: 58.33333%; }
  .no-flexbox .col-md-6 {
    width: 50%; }
  .no-flexbox .col-md-5 {
    width: 41.66667%; }
  .no-flexbox .col-md-4 {
    width: 33.33333%; }
  .no-flexbox .col-md-3 {
    width: 25%; }
  .no-flexbox .col-md-2 {
    width: 16.66667%; }
  .no-flexbox .col-md-1 {
    width: 8.33333%; } }
@media (min-width: 68em) {
  .no-flexbox .col-lg-12 {
    width: 100%; }
  .no-flexbox .col-lg-11 {
    width: 91.66667%; }
  .no-flexbox .col-lg-10 {
    width: 83.33333%; }
  .no-flexbox .col-lg-9 {
    width: 75%; }
  .no-flexbox .col-lg-8 {
    width: 66.66667%; }
  .no-flexbox .col-lg-7 {
    width: 58.33333%; }
  .no-flexbox .col-lg-6 {
    width: 50%; }
  .no-flexbox .col-lg-5 {
    width: 41.66667%; }
  .no-flexbox .col-lg-4 {
    width: 33.33333%; }
  .no-flexbox .col-lg-3 {
    width: 25%; }
  .no-flexbox .col-lg-2 {
    width: 16.66667%; }
  .no-flexbox .col-lg-1 {
    width: 8.33333%; } }

/*# sourceMappingURL=main.css.map */
